/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/05/2021, 08:38:18 AM
    Author     : ismael
*/

#titulo {    
    color: #0806A2;
    font-size: 2em;
    top: 20px;        
    margin-left: 300px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    /*text-align: center;*/
    text-shadow: -4px 4px 3px #EDD400;
    position: absolute;
}
#titulo_principal img{
    height: 110px;
    position: relative;
    margin-top: 0px;
    margin-bottom: 2px;
    padding: 0px;
}
h4{
    color: #0806A2;
    /*border-top: 2px solid #2B28AB;*/
    padding-top: 0;
    margin-left: 50px;
    /*text-align: center;*/
}
#cuerpo{                
    background-image: url("../imagenes/Fondo.png");
    background-size: cover;
    /*background: linear-gradient(to left, #BC9F00, #4F6D06);*/
    width: 950px;
    margin: 0 auto;
    border: 2px solid white;
    padding: 2px;    
}
#cuerpo #barra_navegacion{
    /*font-size: 0.5em;
    color: #0806A2;*/
    top: 15px;
    margin-left: 900px;    
}
#cuerpo #barra_navegacion #flechaIzq {
    top: 15px;
    margin-left: 850px; 
}
 
/* Estilo de Pie de pagina */
#pie_pagina img{
    width: 20px;
}
/*.solicitud{
    line-height: 150%;
    margin-left: 10px;                
}*/
/* Estilo Pagina SOLICITUD */
#cliente label{                
    padding-left: 20px;
    line-height : 40px;
    font-weight: bold;                
}
#muestra label{
    padding-left: 20px;
    line-height : 30px;
    font-weight: bold;
}
#procedencia{
    display: inline;
    
}
#procedencia #estado{
    margin-left: 10px;
    display: inline;
}
#procedencia label{    
    line-height: 30px;
    font-weight: bold;
    margin-left: 0px;
    padding-left: 20px;
}
#procedencia #municipio{
    margin-left: 10px;
    display: inline;
}
#procedencia #municipio label{
    line-height: 30px;
    font-weight: bold;
    margin-left: 0px;
}
#procedencia #parroquia{
    margin-left: 10px;
    display: inline;
}
#procedencia #parroquia label{
    line-height: 30px;
    font-weight: bold;
    margin-left: 0px;
}
.borrar { clear: both; }
#tipo_analisis label{
    padding-left: 20px;
    line-height : 30px;
    font-weight: bold;
}
hr{
    margin: 3px 2px 5px 2px;
    padding: 0;
}
#botones .boton{
    float: right;
    margin: 3px 10px 5px 2px;
    padding: 3px;
    font-weight: bold;
}
#pie{
    clear: both;
}
/* Estilo de la pagina PERSONAL */
#datos_personales, #direccion, #datos_laborales, #estatus, #ubicacion_fisica label{
    padding-left: 20px;
    line-height : 40px;
    font-weight: bold;
}
.lista_precio{    
    margin-left: 20px;        
}
.lista_precio1{
    margin-left: 25px;
    padding: 10px;
    font-weight: bold;
}
/* Estilo de la lista de Precio de la pagina PRESUPUESTO */
#precios{
    margin-left: 20px;
    font-size: 0.6em;
    width: 900px;
}
.sel_pre{
    margin-left: 20px;
    width: 900px;
}
/* Estilo del Inventario de la Pagina INVENTARIO */
#lista_inventario{
    /*padding-left: 20px;*/
    line-height : 40px;
    font-weight: bold;
    
}
#inventario{
    margin-left: 20px;
    font-size: 0.6em;
    width: 900px;
}
.sel_inv{
    margin-left: 20px;
    width: 900px;
}

/* Validacion del Formulario */
input:invalid {
  border: 1px solid red;
  /*background-image: linear-gradient(to right, pink, lightgreen);*/
}

input:valid {
  border: 1px solid #8AE234;
}
/* Estilo de la pagina MENU PRINCIPAL */
#menu_principal #f1 button{    
    width: 150px;
    height: 150px;
    margin-left: 120px; 
    margin-bottom: 25px;
    margin-top: 50px;
    background-color: #ADA302;
    border: none;    
}
#menu_principal #f1 img{
    width: 160px;
    height: 160px;
    margin-left: -20px; 
    margin-bottom: 0px;
    margin-top: -10px;
}
#menu_principal #f2 button{
    width: 150px;
    height: 150px;
    margin-left: 120px; 
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: #A2A203;
    border: none;
}

#menu_principal #f2 img{
    width: 160px;
    height: 160px;
    margin-left: -20px; 
    margin-bottom: 0px;
    margin-top: -10px;
}
/* Estilo de la Pagina ADMINISTRADOR */
#menu_principal_administrador #f1 button{    
    width: 150px;
    height: 150px;
    margin-left: 120px; 
    margin-bottom: 25px;
    margin-top: 50px;
}
#menu_principal_administrador #f1 img{
    width: 150px;
    height: 150px;
    margin-left: -16px; 
    margin-bottom: 0px;
    margin-top: -8px;
}
#menu_principal_administrador #f2 button{
    width: 150px;
    height: 150px;
    margin-left: 120px; 
    margin-bottom: 25px;
    margin-top: 25px;
}

#menu_principal_administrador #f2 img{
    width: 150px;
    height: 150px;
    margin-left: -16px; 
    margin-bottom: 0px;
    margin-top: -8px;
}
#menu_principal_administrador #f3 button{
    width: 150px;
    height: 150px;
    margin-left: 120px; 
    margin-bottom: 50px;
    margin-top: 25px;
}
#menu_principal_administrador #f3 img{
   
    width: 150px;
    height: 150px;
    margin-left: -16px; 
    margin-bottom: 50px;
    margin-top: -8px;
}

#tabla_periodica #dibujo_tabla{
    width: 300px;
    margin-left: 300px;     
}

